<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <img id="logo" src="images/logo.png">
	    <div class="fb-login-button" data-max-rows="1" data-size="large" data-auto-logout-link="true"></div>
	  </div>
	</nav>
  <body>

  	<div>
	  	<header>
	  		Logo / Profile / Image?
	  	</header>

	  	<div id='search-bar'>
	  		Search bar
	  	</div>

	  	<div id ='data-results'>
        data
	  	</div>

	  	<div id='map'>
	  		Map goes here
	  	</div>
  	</div>

  </body> 
</html>