<!DOCTYPE html>
<html>
  <head>
    <title id="title"><%= title[0] %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  
  <body>
  	<div class='container'>
	  	<header>
        Data Share | <a href="#">Profile</a>
        <img id='logo' src="http://cdn.liquidplanner.com/wp-content/uploads/5701090.jpg">
	  	</header>

	  	<div id='search'>
	  		<form>
          <input class='search-bar' type='text' placeholder='Search Bar'>
          <input class='search-bar' type='submit'>
        </form>
	  	</div>

      <button id="list-bars">List all da bars</button>

      <h1 id="test"><%=title[0].users[0].name%></h1>
      <h1 id="test2"><%=title[1].users[0].name%></h1>
      <h1 id="test3"><%=title.length%></h1>
	  	<div id ='data-results'>
        <table>
          <tr>
            <td>Bar Name</td>
            <td>Avg. Wait Time</td>
            <td>Address</td>
          </tr>
          <tr>
            <td>Easy Tiger</td>
            <td>5 minutes</td>
            <td>709 E 6th St, Austin, TX 78701</td>
          </tr>
        </table>
     
	  	</div>

	  	<div id='map'>
	  		Map goes here
	  	</div>
  	</div>
      <script>

      $(function() {
        console.log("supppppp");
        
      });
      </script>
  </body> 
</html>