<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  
  <body>
    <%for(var i = 0; i < title.length; i ++) {%>
      <h4><%=title[i].name%></h4>
      <% } %>
  	<div class='container'>
	  	<header>
        Data Share | <a href="#">Profile</a>
        <img id='logo' src="http://cdn.liquidplanner.com/wp-content/uploads/5701090.jpg">
	  	</header>

	  	<div id='search'>
	  		<form id="form"method="post" action="/users/test">
          <input id="input-bar" class='search-bar' type='text' placeholder='Search Bar'>
          <input id="submit-bar" class='search-bar' type='submit'>
        </form>
	  	</div>

      <button id="list-bars">List all da bars</button>
      <% if (name) {%>
        <h2 id="name1">The bar is <%=name%>, the wait is <%=avgWaitTime%> minutes</h1>
      <% }%>
      <h2 id="name2"></h2>
	  	<div id ='data-results'> 
	  	</div>

	  	<div id='map'>
	  		Map goes here
	  	</div>
  	</div>
      <script>

      $(function() {
        
        $("#list-bars").click(function(){
          var stringy = "";
          <%for(var i = 0; i < title.length; i ++) {%>
            stringy += "<%=title[i].name%> "
            $("#name2").html(stringy);
          <% } %>
        });

 

        $("#submit-bar").click(function(){
          var params = $("#input-bar").val();
          $("#form").attr("action","/users/test/" + params)
        });
      });
      </script>
  </body> 
</html>