<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
  	<div id='container'>
	  	<header>
	  		Logo / Profile / Image?
	  	</header>

	  	<div id='search-bar'>
	  		Search bar
	  	</div>

	  	<div id ='data-results'>
        data
	  	</div>

	  	<div id='map'>
	  		Map goes here
	  	</div>
  	</div>

  </body> 
</html>